html{
  background-color: var(--backgroundColor) !important;
  background-image: var(--backgroundImage) !important;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  bottom: 0px;
}
.my-icon{
    position: relative;
    height: 15px;
    width: 17px;
    margin: .3rem;
    background-color: white;
    border-radius: 50%;
}
.my-arrow{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-35%, -50%);
    height: 0;
    width: 0;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid var(--borderColor) !important;   
}
.my-linktext{
    font-size: medium;
    font-weight: bold;
    text-decoration: none;
    color: var(--textColor) !important;
    padding-left: 1px;
    width: 100%;
    position: relative;
    top: 1px;
}
.container{
    display: flex;
    flex-direction: column;
}
.btn-blinn-primary {
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: .5rem;
}