/* @import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"; */
/* @import "https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css"; */

@import "https://cdn.jsdelivr.net/gh/raulgonzalez77/ellucian-experience-files@master/b5-theme.css";
@import "https://cdn.jsdelivr.net/gh/raulgonzalez77/ellucian-experience-files@master/b5-buttons.css";
@import "https://cdn.jsdelivr.net/gh/raulgonzalez77/ellucian-experience-files@master/b5-card.css";


/*
.card-container {
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
}
*/


body {
    background-color: var(--backgroundColor) !important;
    
    background-image: var(--backgroundImage) !important;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
}


.card-blinn {
  background-color: rgba(255, 255, 255, 0) !important;
  position: relative;
  width: 100% !important;
  height: auto;
  border: 0 !important;
}

/*
.card-header {
  font-weight: bold;
}
*/

.card-body-primary {
    
    background-color: rgba(255, 255, 255, 0);
    /*
    background-color: #0a2140 !important;
    background-image: url(https://www.blinn.edu/images/myblinn/elucian-card-image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    */
    
}

.card-body-secondary {
 background-color: #fbf1ef !important;
}

.card-title {
  color: #ffffff !important;
  font-weight: normal;
  font-size: 17px;
}

.stand-out {
  color: #cf4517;
}

.btn-blinn-primary {
  width: 100%;
  color: var(--btnBlinnPrimaryColor) !important;
  background-color: var(--btnBlinnPrimaryBackground) !important;
  border: 0 !important;
  margin-bottom: 5px;
  font-weight: bold !important;
  text-align: left !important;
}

.btn-blinn-secondary {
  width: 100%;
  color: #000000 !important;
  background-color: #ffffff !important;
  border: 0 !important;
  margin-bottom: 5px;
  font-weight: bold !important;
  text-align: left !important;
}

.card-ribon {
  width: 100%;
  height: auto;
  background-color: #cf4517 !important;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 8px;
  text-align: left !important;
  font-weight: bold;
  position: relative;
  top: -16px !important;
  left: -16px !important;
}

.card-ribon:before {
    content: '';
    position: absolute;
    top: 0; right: 0;
    border-top: 18px solid #fbf1ef;
    border-left: 18px solid white;
    width: 0;

}
