@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css";
@import "https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css";


.fa-row {
  background-color: #0a2140; !important; /*#026BC8*//*#002d72*/
  color: #ffffff;
  padding-top: 25px;
  padding-bottom: 35px;
  font-weight: bold;
  height: auto;
  width: 100%;
  position: fixed;

}

.fa-row ul li {
  color: #ffffff;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1; /* start showing ellipsis when 3rd line is reached */
  white-space: pre-wrap; /* let the text wrap preserving spaces */
  list-style-type: none !important;
}

.fa-row ul li::before {
    content: "\2022  ";
    color: #ffffff;
    font-weight: bolder;
    font-size: 18px;
}

.fa-row-list {
    text-align: left !important;
    font-family: "Roboto", sans-serif;
}


/*background color overrides*/
.fa-row-registration {
   background-color: #0a2140 !important; /*#91CCFF*/
   
}

.fa-row-ecampus {
    background-color: #0a2140; !important; /*#085396*/
    
}
/*background color overrides*/


.fa-row-icon {
  font-size: 160px;
  color: #ffffff;
  margin-top: 10px;
}

.fa-row-icon-small {
  font-size: 100px;
  color: #ffffff;
  margin-top: 15px;
}

.fa-row-icon:hover {
  transform: scale(1.1);
}

.fa-row a,
.fa-row a:hover {
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
}



/*
@media screen and (max-width: 350px) {
  .fa-row-list {
    display: none;
  }
  
  .fa-row-icon-small {
      font-size: 160px;
    }
    
     .fa-row {
         height: auo;
         overflow: scroll;
     }
  
  
}
*/

.link-label {
    
    
     /*sep*/
      display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    outline: 0px;
    border: 0px;
    margin: 0px;
    cursor: pointer;
    user-select: none;
    vertical-align: middle;
    appearance: none;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.5;
    word-spacing: 0.16em;
    letter-spacing: 0.0625rem;
    text-transform: uppercase;
   /*sep*/

/*
  position: relative;
  float: left;
  clear: both;
  bottom: 18px;
  left: 18px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  color: #ffffff !important;
  border-radius: 0.25rem !important;
  background-color: #026BC8 !important; 
  width: 90%;
  font-weight: bolder;
  font-family: "Roboto", sans-serif;
  border: 0px !important;
  border: none !important;
  padding-top: 10px;
  padding-bottom: 10px;
  */
  

  
  position: relative;
  float: left;
  clear: both;
  bottom: 18px;
  left: 18px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  color: #ffffff !important;
  border-radius: 0.25rem !important;
  background-color: #026BC8 !important; 
  width: 90%;
  /*font-weight: bolder;*/
  /*font-family: "Roboto", sans-serif;*/
  border: 0px !important;
  border: none !important;
  /*padding-top: 10px;*/
  /*padding-bottom: 10px;*/
  
  /*add three dots*/
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1; /* start showing ellipsis when 3rd line is reached */
  white-space: pre-wrap; /* let the text wrap preserving spaces */
  
}

.link-label:hover {
  color: #ffffff !important;
  background-color: #002d72 !important;
}

