@import 'https://cdn.jsdelivr.net/gh/raulgonzalez77/ellucian-experience-files@main/global-settings.css';

:root {

    /* var(--backgroundColor) !important; */
    --backgroundColor: #0a2140 !important;
    
    /* var(--borderColor) !important; */
    --borderColor: #0a2140 !important;

    /* var(--backgroundImage) !important; */
    --backgroundImage: url(https://www.blinn.edu/_ellucian-experience/images/finance-3.jpg);

    /* var(--btnBlinnPrimaryColor) !important; */
    --btnBlinnPrimaryColor: #000000 !important;

    /* var(--btnBlinnPrimaryBackground) !important; */
    --btnBlinnPrimaryBackground: #ffc808 !important;
    
    /* var(--textColor) !important; */
    --textColor: #ffc808 !important;


}
