@import 'https://www.blinn.edu/_ellucian-experience/global-settings.css';

:root {

    /* var(--backgroundColor) !important; */
    --backgroundColor: #ffc808 !important;
    
    /* var(--borderColor) !important; */
    --borderColor: #0a2140 !important;

    /* var(--backgroundImage) !important; */
    --backgroundImage: url(https://www.blinn.edu/_ellucian-experience/images/ellucian-card-gold-background-image.jpg);
    
        /* var(--btnBlinnPrimaryColor) !important; */
    --btnBlinnPrimaryColor: #ffffff !important;

    /* var(--btnBlinnPrimaryBackground) !important; */
    --btnBlinnPrimaryBackground: #0a2140 !important;

    /* var(--textColor) !important; */
    --textColor: #0a2140 !important;

}